[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
flask = "*"
flask-mongoengine = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.9"
